<!-- <div class="row">
  <div class="col-md-6">
    <form [formGroup]="Contactform">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstname">First Name *</label>
            <input type="text" name="firstname" formControlName="firstname" class="form-control" placeholder="First Name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastname">Last Name *</label>
            <input type="text" name="lastname" formControlName="lastname" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email" class="control-label">Email Address*</label>
            <input type="email" formControlName="email" placeholder="Email Address" name="email" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="mobile" class="control-label">Mobile*</label>
            <input type="mobile" formControlName="mobile" placeholder="Mobile" name="mobile" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="control-label">Comment</label>
        <textarea formControlName="comment" rows="5" name="comment" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <input type="button" class="btn btn-primary" value="Send">
      </div>
    </form>

  </div>
</div> -->